<nav>
    <div class="nav-wrapper topnav">
        <a class="brand-logo center" href="/"><i class="material-icons">cloud</i>News Scraper</a>
        <ul class= "right hide-on-med-and-down" id="nav-mobile">
            <li><a href= "/scrape">Scrape Articles</a></li>
            <li><a href= "/clearAll">Clear Articles</a></li>
            <li><a href= "/saved">Saved Articles</a></li>
            <li><a href= "https://github.com/mbolters/ScraperApp" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>


  
        