<nav>
    <div class="nav-wrapper topnav">
        <a class="band-logo center" href="/">News Scraper</a>
        <ul class= "right" id="nav-mobile">
            <li><a href= "/scrape">Scrape Articles</a></li>
            <li><a href= "" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>